<!-- <form action='/users' method='POST' accept-charset="UTF-8">
  <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>" />
  <input type='text' name='user[username]' />
  <label for='username'>Username</label><br>
  <input type='text' name='user[email]' />
  <label for='email'>Email</label><br>
  <input type='password' name='user[password]' />
  <label for='password'>Password</label>
  <input type='submit' value='submit'>
</form>
 -->

<!--  <%= form_tag('/users') %>
   <%= text_field_tag 'user[username]' %>
   <%= label_tag 'user[username]', 'Username' %>
   <%= text_field_tag 'user[email]' %>
   <%= label_tag 'user[email]', 'Email' %>
   <%= password_field_tag 'user[password]' %>
   <%= label_tag 'user[password]', 'Password' %>
   <%= submit_tag %>
 -->

<%= form_for @user do |f| %>
  <%= f.text_field :username, :placeholder => 'Your Username' %>
  <%= f.label :username, 'Username'%>
  <%= f.text_field :email,  :value => 'wqe@QWE.qwe' %>
  <%= f.label :email, 'Email' %>
  <%= f.password_field :password %>
  <%= f.label :password, 'Password' %>
  <%= f.submit %>
<% end %>